.movie {
	height: 111px;
	border: 1px solid;
}

.image {
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid;
}

.title {
	float:left;
	font-weight: bold;
	font-size: 16px;
}

.rating {
	float:right;
	font-size: 14px;
	border: 1px solid;
	padding: 2px;
	border-radius: 20px;
}
.description {
	font-size: 12px;
}
#nav_bar {
	position: fixed;
	background-color: #B0B0B0;
	border: 1px solid;
	width: 100%;
	height:20px;
	top: 0px;
	left:0px;
}
#container {
	position: absolute;
	top: 24px;
}

b{
    display: inline;
}